* {
  box-sizing: border-box;
}

body, input, textarea{
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #FFFFFF;
  color: #18191F;

  font-style: normal;
  font-weight: normal;
}
